.warning-message{
    color: tomato;
    text-align: center;
    font-size: 2rem;
   
}
.Button{
    padding: 10px 10px;
    text-align: center;
}

@media screen and (max-width: 960px){
    .warning-message{
        text-align: start;
        font-size: 1.9rem;


    }
    .Button{
        text-align: start;
    }



}
