.usful-number1{
    background-color:whitesmoke;
    color:red;
  
 
  


}
.usful-number{
    color:red;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-weight: bold;
   


}
.usful-number li{
    padding: 0 10px;
    border-right: 1px solid #ddd;
    flex: 0 0 auto;
    text-align: center;



}
