
.usful-number1{
   
    color:red;
}
.usful-number{
    color:red;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-weight: bold;
    font-size:x-large;
    
   

}
.usful-number li{
    padding: 0 10px;
    text-align: center;
   



}
