.Content {
    display: table;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
}
.NextStep:hover{
    background-color: green;
}
.NextStep{
    background-color: #009e00;
    color:#fff;
    padding: 10px 30px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
.NextStep[disabled]{
    display: none;
}
